body {
    background-color: #16161a;
}

#btn1 {
    top: 100px;
}

div.button {
    background-color: #ffffff;
    color: #2c3e50;
    border: none;
    border-radius: 30px;
    width: 500px;
    height: 60px;
    position: fixed;
    left: -435px;
    transition: .7s ease;
}

div.button:hover {
    background-color: #ffffff;
    position: fixed;
    left: -50px;
    width: 600px;
    border-radius: 0px;
    box-shadow: 0px 5px 0px #7f5af0;
}


div.button:active {
    background-color: #7f5af0;
    transition: 0s;
    color: #646768;
}


h1 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;

}

h2 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #fffffe;

}

.h1special{
    color: #fffffe
}

.big{
    font-size: 50px;
}

p{
    text-align: center;
    color: #94a1b2;
    font-family: Verdana, sans-serif;
}

.footer {
    z-index: 1;
    --footer-background: #7f5af0;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 10rem;
    text-align: center;
}