body {
    background-color: #16161a;
}

h1 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;

}

a {
    text-decoration: none;
}

#btn1 {
    top: 100px;
}

#btn2 {
    top: 200px;
}

#btn3 {
    top: 300px;
}

#btn4 {
    top: 400px;
}

div.button {
    background-color: #ffffff;
    color: #2c3e50;
    border: none;
    border-radius: 30px;
    width: 500px;
    height: 60px;
    position: fixed;
    left: -435px;
    transition: .7s ease;
}

div.button:hover {
    background-color: #ffffff;
    position: fixed;
    left: -50px;
    width: 600px;
    border-radius: 0px;
    box-shadow: 0px 5px 0px #7f5af0;
}

div.button:active {
    background-color: #7f5af0;
    transition: 0s;
    color: #646768;
}

/* Footer CSS */
body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main" "footer";
    overflow-x: auto;
    min-height: 95vh;
    font-family: 'Open Sans', sans-serif;
}

.footer {
    z-index: 1;
    --footer-background: #7f5af0;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 10rem;
    text-align: center;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

.bubble {
    position: absolute;
    left: var(--position, -50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
    filter: blur(0.25rem) contrast(1)
}

.content {
    z-index: 2;
    display: grid;
    grid-template-columns: auto;
    grid-gap: -4rem;
    padding: -2rem;
    background: var(--footer-background);
}

a, p {
    color: #F5F7FA;
    text-decoration: none;
    text-align: center;
}

b {
    color: white;
}

p {
    /*margin: 0;*/
    font-size: .75rem;
}

 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.25rem 0;
}

 * {
    margin-right: .5rem;
}

@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}