@import "scss/user-select";
@import "scss/responsive-font";
@import "scss/button-colors";
@import "scss/respond-above";
@import "scss/respond-below";
@import "scss/respond-between";
@import "scss/padding-hor";
@import "scss/padding-ver";
@import "scss/z-indexes.scss";

$primary-bg-color: #16161a;
$secondary-bg-color: darken($primary-bg-color, 2%);
$primary-color: #7f5af0;
$primary-text-color: #fffffe;
$primary-border-color: #232329;
$secondary-border-color: #232329;
$notification-text-color: #fffffe;
